.validationMessage{
    color: red;
    font-size: 10px;
    display: flex;
}
.login{
    padding: 5% 0%;
    height: 100vh;
}
.loginform{
    padding: 15% 10%;
    border-radius: 5px;
    background-color: white;
}
