.Form-btn {
    position: relative;
    top: 20px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
}

.btn-text {
    color: white;
    text-transform: uppercase;
}

.headerForm ::placeholder {
    color: black !important;
    opacity: 1 !important;
    /* Firefox */
}


.headerForm input[type=range]::-webkit-slider-runnable-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}