.imgGall {
    background-color: rgba(233, 240, 255, 0.5);
}

.imageGallHeading {
    font-size: 26px;
}

.imgGallBtns {
    margin-top: 4%;
}

.imgGallBtn {
    border: 1px solid #26a0da;
    width: 10%;
    border-radius: 20px;
    transition: ease-in 0.2s;
}

.imgGallBtn:hover {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
    color: white;
    transform: scale(1.1);
}

.activeGallBtn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
    color: white;
    transform: scale(1.1);

}

.galImages {
    padding: 5%;
    padding-top: 2%;
}

.gallImg {
    height: 250px;
    width: 380px;
    transition: ease-in 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.gallImg:hover {
    transform: scale(1.05);
}