.hotelModal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.hotelModalBody {
    background-color: white;
    margin: 0 25%;
    padding: 5%;
    margin-top: 3%;
    border-radius: 20px;
    box-shadow: 2px 2px black;
}

.hotelNameModal {
    font-size: 24px;
    font-weight: bold;
}