.weatherIcon {
    height: 100px;
    width: 100px;
}

.weather {
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
}


.textLine2 {
    color: black;
    font-size: 18px;
    height: fit-content;
}

.headerImage {
    width: 100%;
}

.textLine1 {
    color: black;
    font-size: 32px;
    height: fit-content;
}

.typedText {
    border-bottom: 4px solid #30c7ec
}

@media screen and (max-width:1300px) and (min-width:991px) {
    .textLine1 {
        font-size: 26px;
    }
    .textLine2 {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    .headerImage {
        width: 75%;
    }
    .textLine1 {
        font-size: 30px;
    }
    .textLine2 {
        font-size: 16px;
        width: 75%;
    }
}

@media screen and (max-width:768px) and (min-width:576px) {
    .headerImage {
        width: 75%;
    }
    .textLine1 {
        font-size: 30px;
    }
    .textLine2 {
        font-size: 14px;
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .headerImage {
        width: 75%;
    }
    .textLine1 {
        font-size: 25px;
    }
    .textLine2 {
        font-size: 12px;
        width: 85%;
    }
}