.weatherIcon {
    height: 100px;
    width: 100px;
}

.weather {
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto; /* Center the weather component */
}

.textLine1 {
    color: black;
    font-size: 2vw; /* Scales with screen width */
    max-width: 100%; /* Ensures text doesn't overflow */
    margin-bottom: 10px;
}

.textLine2 {
    color: black;
    font-size: 1.5vw; /* Scales with screen width */
    max-width: 90%; /* Prevents text overflow */
    margin: 0 auto; /* Centers the text on smaller screens */
}

.headerImage {
    width: 100%;
    max-width: 500px; /* Max width for larger screens */
    height: auto;
    margin: 0 auto; /* Centers the image */
}

/* Media Queries */
@media screen and (max-width:1300px) and (min-width:991px) {
    .textLine1 {
        font-size: 2.5vw;
    }
    .textLine2 {
        font-size: 1.8vw;
    }
}

@media screen and (max-width:991px) and (min-width:768px) {
    .headerImage {
        width: 80%;
    }
    .textLine1 {
        font-size: 3vw;
    }
    .textLine2 {
        font-size: 2vw;
    }
}

@media screen and (max-width:768px) and (min-width:576px) {
    .headerImage {
        width: 75%;
    }
    .textLine1 {
        font-size: 4vw;
    }
    .textLine2 {
        font-size: 3vw;
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .headerImage {
        width: 75%;
    }
    .textLine1 {
        font-size: 5vw;
    }
    .textLine2 {
        font-size: 3.5vw;
        width: 85%;
    }
}
