.listingTitle {
    font-size: 26px;
}

.blue-underline {
    border-bottom: 4px solid #30c7ec
}

.listing-card-name {
    font-size: 20px;
    color: black !important;
}

.listing-card-details {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.listing-card-body {
    font-size: 16px;
    color: darkgray !important;
}

.listing-card-price {
    font-size: 18px;
    color: black !important;
}

.listing-card-img {
    height: 40%;
}

.listing-btn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
}

.modalClose {
    text-align: right;
    color: red;
    cursor: pointer;
}

.listing-card {
    transition: ease-in;
}

.listing-card:hover {
    transform: scale(1.05) !important;
}

.listing-page {
    background-color: rgba(233, 240, 255, 0.5);
}