.nav-item a {
    font-size: 16px;
    border-bottom: 2px solid transparent;

}
.collapse{
    width: fit-content;
}
@media screen and (min-width:992px) {
    .nav-item a:hover {
        border-bottom: 2px solid black;

    }

    .nav-item a:active {
        border-bottom: 2px solid black;
    }
}

.nav-sticky {
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 1;
}

.brand-name {
    font-size: 25px;
}

.navbar-btn {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
}