.footer {
    background-image: url("https://images.pexels.com/photos/2707756/pexels-photo-2707756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headerText1 {
    font-size: 24px;
    text-shadow: #000 1px 0 5px;
    color: white;
}

.headerText2 {
    font-size: 26px;
    color: white;
    text-shadow: #000 1px 0 5px;
}

.footerBody {
    background-color: white;
    border-radius: 20px;
    width: 80%;
}

.footerBodyContent {
    padding: 0 5%;
}

.footerBodyText {
    font-size: 14px;
}

.footerLink {
    color: black
}

.footerBtn {

    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    background-size: 200% auto;
    color: white !important;
}

.footerList li {
    margin-bottom: 5%;
    cursor: pointer;
}

.footerList li:hover {
    text-decoration: underline;
}

.footerTrademark {
    background-color: #26a0da;
    border-radius: 0px 0px 20px 20px;
}