.heading-text {
    font-family: 'Montserrat', sans-serif;
}

.subheading-text {
    font-family: 'Playfair Display', serif;
}

.paragraph-text {
    font-family: 'Lora', serif;
}

.blueBackground {
    background-image: url("/public/Images/blue_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}